<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Game">
      <service>
        <wellknown mode="Singleton"
                   type="gamelogic.Game, gamelogic"
                   objectUri="Gameee" />
      </service>
      <channels>
        <channel ref="ipc" port="myIPCPort"
           displayName="TCP Channel (GameServer)" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>
